*{ margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}

#fondo{background-color: rgb(0, 0, 0);}

body {font-family: 'Montserrat', sans-serif;
    color: white;
    ;
}

.barraDeNavegacion{
    background-color:rgb(41, 36, 58);
    display: flex;
}

    .menu li{display: inline-block;
        margin: 10px;
    }
    .menu{text-align: right;
        margin: 0px;
        margin-left: 430px;
        margin-top: 13px;
}

    .Logo{ width: 200px;
        display: inline-block;
        margin-left: 20px;
    }


/* index */

.foto1{ width: 700px;
margin-left: 50px;
}

.foto2{ width: 400px;
        padding-right: 20px;
        display: inline-block;
    margin-left: 30px;
}

    .imagen2{ width: 400px;
        padding-right: 20px;
        display: inline-block;
    margin-left: 30px;
}

a {font-size: 20px;
    display: block;
    color: white;
    text-decoration: none;
}

.titulo{ padding: 40px;
}

.titulo h1{font-weight: 900;
        font-size: 35px;
        padding-bottom: 20px;
    }

.titulo h2{ font-weight: 700;
            font-size: 20px;
            padding-bottom: 20px;
        }

.titulo h3{font-weight: 600;
            font-size: 20px;
            padding-bottom: 10px;
        }

.titulo h4{font-size: 15px;
            font-weight: 400;
            
            padding-top: 20px;
}

.titulo h5 {font-size: 15px;
        font-weight: 400;
        padding-top: 20px
    }

.titulo p{ padding-bottom: 30px; 
        font-size: 12px;
        
    }

/* tour */

.fotoFechas{width: 1000px;
display: flex ;
justify-content: center;
margin-left: 90px;
margin-bottom: 40px;
}

.fechaImportante{background-color: #5d5088;
background-repeat: repeat;
padding: 0;
display: grid;
}


.fechaImportante h2{ text-align: center;
font-size: 36px;
padding-top: 10px;
}

.fechaImportante h3{text-align: center;
    font-size: 25px;
}

.fechaImportante input { width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonImportante{
justify-self: center;
}

/* contacto */

.formulario{display: block;
            margin: 10px;
            font-size: 15px ;
        }

.formularioEnviar{display: block;
                margin: 20px;
                font-size: 20px ;
            }

.tour{display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "lugar dia boton"
                }
                
.lugar{grid-area: lugar;
        justify-self: start;}
.dia{grid-area: dia;
    justify-self: center;
}
.boton{grid-area: boton;
        justify-self: end;
        width: 100px;
        margin-top: 20px
}

/* historia */

.imagenTexto{display: flex;
    display: grid;
grid-template-columns: repeat(2, 50%);
margin-right: 350px;
}


.nacimiento{
display: grid;
grid-template-columns: repeat(3, 33%);
}


.spotify { margin: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (2, 1fr);
    grid-template-areas: 
    "spotify1 spotify2 spotify3" 
    "spotify4 spotify5 spotify6";
}

    .spotify1{ grid-area: spotify1; margin: 30px;}
    .spotify2{ grid-area: spotify2; margin: 30px;}
    .spotify3{ grid-area: spotify3; margin: 30px;}
    .spotify4{ grid-area: spotify4; margin: 30px;}
    .spotify5{ grid-area: spotify5; margin: 30px;}
    .spotify6{ grid-area: spotify6; margin: 30px;}


@media screen and (max-width: 768px) {
    .barraDeNavegacion { 
        background-color: rgb(41, 36, 58);
        background-repeat: repeat-x;
        display: grid;
        grid-template-areas: "logo" "menu";

    }

    @media screen and (max-width: 768px) {
    .Logo{ grid-area: logo;
        justify-self: center;
    }
    
}

@media screen and (max-width: 768px) {
    .menu{ grid-area: menu;
        align-items: start;
        margin-left: 0;
        text-align: center;
    }
    
}

@media screen and (max-width: 768px) {
    .imagenTexto{ grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 50%);
        grid-template-areas: "texto texto" "imagen imagen";
    }
    
}

@media screen and (max-width: 768px) {
    .texto{ grid-area: texto;
margin-bottom: 0px;padding: 0px}
    
}

@media screen and (max-width: 768px) {
    .foto1{ grid-area: imagen;
    padding: 0px;
    width: 500px;
    justify-content: center;
    margin-bottom: 30px;
    }
} }

@media screen and (max-width: 768px) {
    .nacimiento{ grid-template-columns: 1fr;
        
        grid-template-areas: "texto texto" "imagen1 imagen2";
    justify-content: space-evenly;}
} 

@media screen and (max-width: 768px) {
    .textoNacimiento{ grid-area: texto; padding-right: 0px;}
}

    @media screen and (max-width: 768px) {
        .foto2{ grid-area: imagen1;
        margin: 0px;
    width: 300px;
    padding-bottom: 30px;} }

        @media screen and (max-width: 768px) {
            .imagen2{ grid-area: imagen2;
        margin: 0px;
        width: 300px; 
        padding-right: 0px;
        padding-bottom: 30px;
    }}

    @media screen and (max-width: 768px) {
        .titulo h1{ font-size: 30px;
}}

@media screen and (max-width: 768px) {
    .video{ width: 400px;}
}

/* @media screen and (max-width: 768px) {
    .spotify { width: 200px;
        display: grid; } */
        





@media screen and (max-width: 768px) {.spotify {
            margin-left: 10px;
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: 
            "spotify1 spotify2" 
            "spotify3 spotify4" 
            "spotify5 spotify6";
        } }
        @media screen and (max-width: 768px) {   
            .spotify1{ grid-area: spotify1;}}
            @media screen and (max-width: 768px) {       
            .spotify2{ grid-area: spotify2;}}
            @media screen and (max-width: 768px) {   
            .spotify3{ grid-area: spotify3;}}
            @media screen and (max-width: 768px) {   
            .spotify4{ grid-area: spotify4}}
            @media screen and (max-width: 768px) {   
            .spotify5{ grid-area: spotify5;}}
            @media screen and (max-width: 768px) {   
            .spotify6{ grid-area: spotify6;} }

@media screen and (max-width: 768px) {   
    .fotoFechas{ width: 700px;
    margin-left: 0px;} }


    .pieDePagina{ background-color:rgb(41, 36, 58);
        padding: 40px;
        display: flex;
    align-items: baseline;
    justify-content: space-around;}
    
        
.pieDePagina a {font-weight: 500;
            margin-top: 20px;}

.pieDePagina h2 {font-weight: 700;
font-size: 20px;
padding-bottom: 20px;}

@media screen and (max-width: 768px) {
    .pieDePagina { display: block;
    padding-bottom: 10px;}
    }

